body{
    font-family: 'Montserrat', sans-serif;
    margin: 40px;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.blogg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    width: 40rem;
    height: 28rem;
}
input, textarea, select{
    background-color: white;
    color: black;
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
    border: solid 1px black;
}
span{
    font-size: 12px;
    font-weight: bolder;
}
.image{
    max-width: 15rem;
    max-height: 15rem;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 60px;
}
.button{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    padding: 5px 20px;
    border-radius: 10px;
    border: solid 1.5px rgb(32, 184, 184);
    color: rgb(35, 160, 160);
    text-decoration: none;
    font-weight: bolder;
}
.button:hover{
    border: solid 2px rgb(34, 163, 163);
}
.comment{
    font-size: 12px;
    background-color: white;
    padding: 0px 5px;
    border-radius: 10px;
    border: solid 1.5px black;
    color: black;
    text-decoration: none;
    margin-left: 5px;
    max-width: 100px;
    text-align: center;
}
.comment:hover{
    padding: 0px 4.5px;
    box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.171);
}
.field{
    margin: 60px;
    display: flex;
    flex-direction: column;
}
.submit:hover{
    border: solid 1.5px black;
    box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.171);
}
.left{
    margin-left: 50px;
}