.index, .login{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
header{
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 220px;
    margin: 50px 0px;
    z-index: 1;
    position: relative;
}
.divider{
    position: absolute;
    top: 7.7rem;
    width: 39rem;
    height: 52rem;
    z-index: -2;
    opacity: 20%;
}
.decor{
    font-family: 'Montserrat', sans-serif;
    color: rgb(32, 184, 184);
    font-size: 1.5rem;
    display: flex;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 2;
}
.dot {
    height: 8px;
    width: 8px;
    background-color: rgb(32, 184, 184);
    border-radius: 50%;
    display: inline-block;
}
.start{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5rem;
    border: solid 1px rgb(32, 184, 184);
    width: 40rem;
    height: 25rem;
    z-index: 3;
}
input{
    background-color: white;
    color: black;
    margin: 6px;
    padding: 5px;
    border-radius: 8px;
    border: solid 1px black;
}
.button{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    padding: 5px 15px;
    border-radius: 10px;
    border: solid 1.5px rgb(32, 184, 184);
    color: rgb(35, 160, 160);
    text-decoration: none;
    font-weight: bolder;
}
.button:hover{
    border: solid 2px rgb(34, 163, 163);
}

h4{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
}
